//Font Sizes
$title-xl: 100px;
$title-md: 65px;
$title: 50px;
$subtitle: 38px;
$body-lg: 24px;
$body: 16px;
$body-sm: 15px;
$body-xsm: 12px;
$button-text: 30px;

$line-height: 1.8;

$line-height: 1.8;

//Font Weights
$med: 400;
$med-lg: 500;
$bold: 700;

//Letter spacing
$spacing: -0.5px
