@import '/scss/breakpoints.scss';

.learn {
  display: flex;
  flex-direction: row;
  margin: 100px 0;
  width: 100%;
  position: relative;

  @include md {
    flex-direction: column;
    margin: 50px 0;
  }

  .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 35%;

    @include md {
      align-items: flex-start;
      margin: 25px 0;
      width: 100%;
    }

    h2 {
      font: 400 36px 'Prata', sans-serif;
      margin: 0;
      max-width: 270px;
    }

    p {
      font: 400 18px 'Lato', sans-serif;
      margin: 25px 0;
      max-width: 350px;
      white-space: pre-line;

      @include md {
        max-width: 100%;
      }
    }
  }

  picture {
    width: 60%;

    @include md {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}
