@import '/scss/breakpoints.scss';
@import '/scss/colours.scss';

.signup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 850px;
  width: 100%;

  h2 {
    font: 400 36px 'Prata', sans-serif;
    margin: 0 auto;
    text-align: center;

    @include md {
      font-size: 25px;
      margin: 0 10px;
    }
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;

    @include lg {
      align-items: center;
      flex-direction: column;
    }

    .feat {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 240px;

      @include lg {
        margin: 30px 0;
      }

      img {
        margin-bottom: 10px;
        width: 75px;
      }

      p {
        font: 400 18px 'Lato', sans-serif;
        text-align: center;
        white-space: pre-line;
      }
    }
  }

  .pricing {

    p {
      font: 400 36px 'Prata', sans-serif;
      margin: 0 0 30px;
      text-align: center;
    }

    a {
      margin: 0 auto;
      padding: 12px 60px;
    }
  }
}
