@import '/scss/breakpoints.scss';

.hero {
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  margin: 50px 0;
  position: relative;
  width: 100%;

  @include md {
    justify-content: start;
  }

  div {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    z-index: 1;

    @include lg {
      max-width: 650px;
      align-items: flex-start;
    }

    @include md {
      width: 100%;

      h1 {
        max-width: 650px;
        margin: 0;
      }
    }

    span {
      margin: 10px 200px 0 0;

      @include lg {
        margin: 25px 0;
      }
    }

    h1 {
      font: 400 96px 'Prata', sans-serif;
      margin: 0px;

      @include lg {
        font-size: 60px;
        max-width: 650px;
      }

      @include md {
        font-size: 45px;
        max-width: 550px;
        margin: 0;
      }
    }
  }

  img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    @include md {
      height: auto;
      margin: 150px 0;
      width: 100%;
    }
  }
}
