@import '/scss/colours.scss';
@import '/scss/breakpoints.scss';

.button a {
  padding: 16px 26px;
  font: 400 22px 'Prata', sans-serif;
  border: solid 1.5px $colour-navy;

  @include lg {
    font-size: 18px;
    padding: 12px 20px;
  }
}
